body {
  padding: 0;
  margin: 0;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.end-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

a:focus {
  outline: none !important;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.key {
  margin-right: 10px;
  margin-bottom: 5px;
}

svg {
  width: 100%;
  height: 100%;
}

ul.icons-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 1rem;
  justify-content: space-around;
  gap: 0.5rem;
}
ul.icons-list li.icon-item {
  display: flex;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  align-items: center;
  transition: all 0.2s ease-in;
}
ul.icons-list li.icon-item:hover, ul.icons-list li.icon-item.selected {
  background: var(--vscode-menu-selectionBackground) !important;
  color: var(--vscode-menu-selectionForeground) !important;
}
ul.icons-list li.icon-item:hover .icon, ul.icons-list li.icon-item.selected .icon {
  fill: var(--vscode-menu-selectionForeground) !important;
  color: var(--vscode-menu-selectionForeground) !important;
}
ul.icons-list li.icon-item:hover .icon-name, ul.icons-list li.icon-item.selected .icon-name {
  color: var(--vscode-menu-selectionForeground) !important;
}
ul.icons-list li.icon-item .icon {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 4px;
}
ul.icons-list li.icon-item .icon-name {
  margin: 5px;
  margin-right: 10px;
  text-align: left;
  transition: all 0.2s ease-in;
  word-break: break-all;
}

.info-container {
  padding: 13px;
  font-size: 0.7rem;
  position: sticky;
  top: 0;
  background: var(--vscode-sideBar-background);
}
.info-container .icon-name-container {
  flex: 1;
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-right: 1rem;
  min-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info-container #selected-icon-image {
  width: 5rem;
  height: 5rem;
  margin-right: 6px;
  min-width: 3rem;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .info-container #selected-icon-image {
    display: none;
  }
}
.info-container #selected-icon-image svg {
  width: 80% !important;
  height: 80% !important;
  border-radius: 4px;
  padding: 0.5rem;
  transition: all 0.2s linear;
}
.info-container #selected-icon-image:hover {
  background: var(--vscode-menu-selectionBackground) !important;
  fill: var(--vscode-menu-selectionForeground) !important;
  color: var(--vscode-menu-selectionForeground) !important;
}
.info-container .detail-container vscode-text-area::part(control) {
  height: 100%;
  overflow-x: hidden;
}
.info-container .detail-container vscode-panels::part(tablist) {
  padding: 0;
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
}
.info-container .detail-container vscode-panel-tab[aria-selected=true] {
  border-bottom: 1px solid;
}
.info-container #selected-icon-name {
  color: var(--vscode-foreground);
  text-decoration: none;
  cursor: pointer;
}
.info-container #selected-icon-name:hover {
  color: var(--vscode-textLink-foreground);
  text-decoration: underline;
}
.info-container vscode-badge::part(control) {
  background: var(--vscode-button-secondaryBackground);
  color: var(--vscode-button-secondaryForeground);
  padding: 2px 9px;
  cursor: pointer;
  height: auto;
  font-size: 12px;
}
.info-container vscode-badge::part(control):hover {
  background: var(--vscode-button-secondaryHoverBackground);
}

#total-icons {
  position: absolute;
  right: 10px;
}

#search-icon::part(control) {
  padding-right: 30px;
}

.search-container {
  align-items: stretch;
}
.search-container vscode-button::part(control) {
  padding: 3.6px 8px;
}
.search-container vscode-button svg {
  width: 1rem;
  height: 1rem;
}

/* Slider Style */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type=range] {
    height: 4px;
    flex: 1;
    border-radius: 4px;
  }
  input[type=range]::-webkit-slider-thumb {
    cursor: pointer;
  }
  input[type=range]:focus {
    border: none !important;
    outline: none !important;
  }
}