* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-auto {
  flex: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.end-0 {
  right: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

a:focus {
  outline: none !important;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.key {
  margin-right: 10px;
  margin-bottom: 5px;
}

svg {
  width: 100%;
  height: 100%;
}

ul.icons-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin: 0;
  justify-content: space-around;
  gap: 0.5rem;

  li.icon-item {
    display: flex;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ffffff1a;
    align-items: center;
    max-width: none;
    background: var(--vscode-menu-background);
    color: var(--vscode-menu-foreground);
    padding: 0.5rem;
    gap: 0.5rem;

    &:focus-visible {
      outline: none;
      border: 1px solid var(--vscode-sash-hoverBorder);
    }

    &:hover,
    &.selected {
      background: var(--vscode-menu-selectionBackground);
      color: var(--vscode-menu-selectionForeground);
      border: 1px solid var(--vscode-sash-hoverBorder);

      .icon {
        fill: var(--vscode-menu-selectionForeground);
        color: var(--vscode-menu-selectionForeground);
      }

      .icon-name {
        color: var(--vscode-menu-selectionForeground);
      }
    }

    .icon {
      border-radius: 4px;
      width: var(--icon-size);
      height: var(--icon-size);
      min-width: var(--icon-size);
      min-height: var(--icon-size);
      fill: var(--vscode-menu-foreground);
      color: var(--vscode-menu-foreground);
      pointer-events: none;
    }

    .icon-name {
      user-select: none;
      display: block;
      margin: 5px;
      margin-right: 10px;
      text-align: left;
      word-break: break-word;
      color: var(--vscode-menu-foreground);
      pointer-events: none;
    }
  }

  &--staggered {
    display: flex;

    li.icon-item {
      justify-content: start;
      flex-direction: row;
      text-align: left;
    }
  }

  &--list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    li.icon-item {
      justify-content: start;
      flex-direction: row;
      text-align: left;
    }
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(90px, calc(var(--icon-size) + 40px)), 1fr));

    li.icon-item {
      justify-content: space-evenly;
      flex-direction: column;
      text-align: center;

      .icon-name {
        text-align: center;
      }
    }
  }

  &--icon-only {
    display: flex;

    li.icon-item {
      max-width: fit-content;
      padding: 1rem;

      .icon-name {
        display: none;
      }
    }
  }

  &--inverted {
    li.icon-item {
      background: var(--vscode-menu-foreground);
      color: var(--vscode-menu-background);

      .icon {
        fill: var(--vscode-menu-background);
        color: var(--vscode-menu-background);
      }

      .icon-name {
        color: var(--vscode-menu-background)
      }
    }
  }

}

.info-container {
  padding: 1rem;
  padding-top: 0;
  font-size: 0.7rem;
  position: sticky;
  top: 0;
  background: var(--vscode-sideBar-background);

  .icon-name-container {
    flex: 1;
    font-size: 1.2rem;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .selected-icon-image {
    width: 5rem;
    height: 5rem;
    margin-right: 6px;
    min-width: 3rem;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--vscode-menu-foreground);
    color: var(--vscode-menu-foreground);
    background: var(--vscode-menu-background);
    border: 1px solid var(--vscode-menu-background);

    @media (max-width: 600px) {
      display: none;
    }

    svg {
      width: 80%;
      height: 80%;
      border-radius: 4px;
      padding: 0.5rem;
      transition: all 0.2s linear;
    }

    &:hover {
      background: var(--vscode-menu-selectionBackground);
      fill: var(--vscode-menu-selectionForeground);
      color: var(--vscode-menu-selectionForeground);
      border: 1px solid var(--vscode-sash-hoverBorder);
    }

    &--inverted {
      fill: var(--vscode-menu-background);
      color: var(--vscode-menu-background);
      background: var(--vscode-menu-foreground);
    }
  }

  .detail-container {
    vscode-text-area {
      line-height: 0;

      &::part(control) {
        overflow-x: hidden;
        cursor: text;
        min-height: 40px;
      }
    }

    vscode-panels::part(tablist) {
      padding: 0;
      column-gap: 10px;
      display: flex;
    }

    vscode-panel-tab[aria-selected="true"] {
      border-bottom: 1px solid;
    }
  }

  #selected-icon-name {
    color: var(--vscode-foreground);
    text-decoration: none;
    white-space: nowrap;
  }

  .selected-icon-favorite-btn {
    margin-left: 1rem;
    cursor: pointer;
    color: var(--vscode-foreground);
    fill: var(--vscode-foreground);

    svg {
      height: 0.9rem;
      width: auto;
      pointer-events: none;
    }
  }

  #copy-btn {
    @media (max-width: 600px) {
      display: none;
    }
  }

  vscode-badge::part(control) {
    background: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
    padding: 2px 9px;
    cursor: pointer;
    height: auto;
    font-size: 12px;

    &:hover {
      background: var(--vscode-button-secondaryHoverBackground);
    }
  }
}

#total-icons {
  position: absolute;
  right: 10px;
}

#selected-icon-category-badges {
  overflow: hidden;
  max-height: 3.5rem;
  transition: all 0.2s ease-in-out;

  vscode-badge {
    &:focus-visible {
      outline: none;

      &::part(control) {
        border: 1px solid var(--vscode-sash-hoverBorder);
      }
    }
  }

  &:hover {
    max-height: 20rem;
  }
}

#search-icon::part(control) {
  padding-right: 30px;
}

.search-container {
  align-items: stretch;

  .match-whole-word-btn {
    color: var(--button-primary-background);
    border: 1px solid var(--button-primary-background);
    background-color: transparent;

    &::part(control) {
      padding: 3px 8px;
    }

    svg {
      pointer-events: none;
      width: 0.7rem;
      height: 0.7rem;
    }

    &--checked {
      color: var(--button-primary-foreground);
      background: var(--button-primary-background);
      border: 1px solid var(--button-primary-background);

      &:hover {
        background-color: var(--button-primary-hover-background);
      }
    }

    &:not(&--checked):hover {
      background-color: var(--vscode-menu-background);
    }
  }

  .view-toggle-btn {
    &::part(control) {
      padding: 3.6px 8px;
    }

    svg {
      pointer-events: none;
      width: 1rem;
      height: 1rem;
    }
  }

  .invert-bg-btn {
    transition: all 0.3s linear;

    &::part(control) {
      padding: 3.6px 8px;
    }

    svg {
      pointer-events: none;
      width: 1rem;
      height: 1rem;
    }

    &--inverted {
      transform: rotateY(180deg);
    }
  }
}

/* Slider Style */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    height: 4px;
    flex: 1;
    border-radius: 4px;
  }

  input[type='range']::-webkit-slider-thumb {
    cursor: pointer;
  }

  input[type='range']:focus {
    border: none;
    outline: none;
  }
}
